<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-plus"></i></a>
</div>
<div class="fixed-action-btn right" style="right:150px; color:blue">
    <a href="/tasks/add" class="btn-floating btn-large waves-effect waves-light blue">
        <i class="fas fa-plus"></i></a>
</div>