<h1>ADD TASKS</h1>
<form action="/tasks" method="POST">
    <div class="form-group">
        <label for="task">Enter Task:</label>
        <input type="text" class="form-control" id="task_title" name="task_title">
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form